*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
}

.title{
    color:violet;
    padding: 20px;}

.container{
    width:300px;
    height:200px;
    margin:auto;
   
}
.diapoImg{
    width:100%;
    display: none;
}
.diapoImg.visible{
    display: block;
}
#next{
    border:none;
    background-color: crimson;
    color:cornsilk;
    margin:10px;
    padding:10px 20px;
    border-radius: 5px;
}




