*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.title{
    color:violet;
    padding: 20px;
}
.diapo{
    width:300px;
    height:200px;
    overflow: hidden;
    margin:auto;
    
}
.diapoImg{
    width:100%;
    display: none;
    
}
.diapoImg.visible{
    display:block;
}






