.diaporama{
    width:300px;
    height:200px;
    margin:auto;
    padding-top:100px;
    text-align: center;

}
.photos{
    width:100%;
    display: none;
}
.photos.visible{
    display: block;
}
#next{
    padding:10px;
    margin:auto;
    background-color: transparent;
    color:black;
    border-radius: 5px;
    border-color: black;
    cursor:pointer;
}